<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/login/style.css}" rel="stylesheet" type="text/css" media="all"/>

</head>
<body id="LoginForm">

<div class="container">
    <!-- <h1 class="form-heading">login Form</h1> -->
    <div class="login-form">
        <div class="main-div">
<!--            <c:if test="${param.incorrectAccount != null}">-->
            <div th:if="${param.incorrectAccount}" >
                <div class="alert alert-danger">
                    Username or password incorrect
                </div>
            </div>
<!--            </c:if>-->

<!--            <c:if test="${param.accessDenied != null}">-->
            <div th:if="${param.accessDenied}">
                <div class="alert alert-danger">
                    You not authorize
                </div>
            </div>
<!--            </c:if>-->
            <form  th:action="@{/j_spring_security_check}" id="formLogin" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Tên đăng nhập">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
                </div>
                <button type="submit" class="btn btn-primary" >Đăng nhập</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>