
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/font-awesome/4.5.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
    <script th:src="@{/admin/assets/js/ace-extra.min.js}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type='text/javascript' th:src="@{/admin/js/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/admin/assets/js/jquery.2.1.1.min.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.2/dist/sweetalert2.min.css">

    <!--ck editor-->
    <style type="text/css">
        .err {
            color: red;
        }
    </style>
    <script type="text/javascript" th:src="@{/resources/jquery-1.9.1.js}" ></script>
    <script type="text/javascript" th:src="@{/resources/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/resources/ckeditor/adapters/jquery.js}"></script>

    <!--    <script type="text/javascript">-->
    <script type="text/javascript">
        $(function() {
            $("#shortDescription").ckeditor({
                toolbar : 'Basic',
                uiColor : '#F7D358'
            });
        });
    </script>
    <!--/ck editor-->






</head>
<body class="no-skin">
<!-- header -->
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Trang quản trị
                </small>
            </a>
        </div>
        <div class="navbar-buttons navbar-header pull-right collapse navbar-collapse" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        Xin chao,   <span th:text="${fullName}"/>
                    </a>
                <li class="light-blue dropdown-modal">

                    <!--                    <a th:href="@{/thoat}">-->
                    <!--                        <i class="ace-icon fa fa-power-off"></i>-->
                    <!--                        Thoát-->
                    <!--                    </a>-->
                    <a th:href="@{/thoat}">
                        <i class="ace-icon fa fa-power-off"></i>
                        Thoát
                    </a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- header -->

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <!-- menu -->
    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>
            <div class="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <ul class="nav nav-list">
            <li >
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"></span>
                    Quản lý bài viết
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li>
                        <!--                        <a href='<c:url value="/quan-tri/bai-viet/danh-sach?page=1&limit=2"/>'>-->
                        <a th:href="@{/quan-tri/bai-viet/danh-sach(page='1', limit='2')}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            DS bài viết
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li>
                        <!--                        <a href='<c:url value="/quan-tri/bai-viet/danh-sach?page=1&limit=2"/>'>-->
                        <a th:href="@{/quan-tri/the-loai/danh-sach}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            DS Thể loại
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-toggle sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <!-- menu -->

    <div class="main-content">
        <div class="main-content-inner">


            <!--            phần navbar cho tìm kiếm vào-->


            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                    <li class="active">Form Elements</li>
                </ul><!-- /.breadcrumb -->


            </div>

            <!--            ko ccccc-->

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div th:if="${message}">

                            <div th:switch="${alert}">

                                <div th:case="success" class="alert alert-success">
                                    <span th:text="${message}"/>
                                </div>

                                <div th:case="danger" class="alert alert-danger">
                                    <span th:text="${message}"/>
                                </div>

                            </div>

                        </div>
                        <form class="form-horizontal" role="form" name="formSubmit" id="formSubmit"
                              th:action="@{/quan-tri/the-loai/xoa/__${category.id}__ }" th:object="${category}" method="post">
                            <!--                            <div class="form-group">-->
                            <!--                                <label for="categoryCode" class="col-sm-3 control-label no-padding-right">Thể loại bài-->
                            <!--                                    viết</label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    &lt;!&ndash;                                    <%--                            <select class="col-xs-10 col-sm-5" class="form-control" id="categoryCode" name="categoryCode">--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                                <option value="">--Chọn thể loại--</option>--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                                <c:forEach var="item" items="${categories}">--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                        <%--                                    <option value="${item.code}">${item.name}</option>--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                        <%--                                </c:forEach>--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                                <option value="xa-hoi">Xã hội</option>--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                                <option value="chinh-tri">Chính trị</option>--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                            </select>--%>&ndash;&gt;-->

                            <!--                                    <select th:field="*{categoryCode}" id="categoryCode" name="categoryCode">-->
                            <!--                                        <option value="" label="--Chọn thể loại--"/>-->
                            <!--                                        &lt;!&ndash;                                        <options items="${categories}"/>&ndash;&gt;-->
                            <!--                                        <option th:each="i : ${categories.keySet()}" th:text="${i}" th:value="${i}" th:selected="${model.getCategoryCode()}" ></option>-->

                            <!--                                        &lt;!&ndash;                                        <option th:each="i : ${categories}" th:value="${i}" th:text="${i}"></option>&ndash;&gt;-->
                            <!--                                    </select>-->
                            <!--                                </div>-->
                            <!--                            </div>-->



                            <!--                            <div class="form-group">-->
                            <!--                                <label class="col-sm-3 control-label no-padding-right" for="thumbnail"> Ảnh đại-->
                            <!--                                    diện </label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    <input type="file" class="col-xs-10 col-sm-5" th:field="*{thumbnail}" id="thumbnail" name="title"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label no-padding-right">Tên thể loại</label>
                                <!--                                <div class="col-sm-9">-->
                                <!--&lt;!&ndash;                                    <%--                                <textarea class="form-control" rows="5" cols="10" id="shortDescription"--%>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <%--                                          name="shortDescription">${model.shortDescription}</textarea>--%>&ndash;&gt;-->
                                <!--                                    <textarea class="form-control" rows="5" cols="10" th:field="*{shortDescription}"-->
                                <!--                                                   id="shortDescription" name="shortDescription"/>-->
                                <!--                                </div> -->
                                <div class="col-sm-9">
                                    <!--                                    <%--                                <textarea class="form-control" rows="5" cols="10" id="shortDescription"--%>-->
                                    <!--                                    <%--                                          name="shortDescription">${model.shortDescription}</textarea>--%>-->
                                    <input cols="60" rows="8" name="name" id="name" th:field="*{name}" readonly />
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="code" class="col-sm-3 control-label no-padding-right">Mã thể loại</label>
                                <!--                                <div class="col-sm-9">-->
                                <!--&lt;!&ndash;                                    <%--                                <textarea class="form-control" rows="5" cols="10" id="shortDescription"--%>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <%--                                          name="shortDescription">${model.shortDescription}</textarea>--%>&ndash;&gt;-->
                                <!--                                    <textarea class="form-control" rows="5" cols="10" th:field="*{shortDescription}"-->
                                <!--                                                   id="shortDescription" name="shortDescription"/>-->
                                <!--                                </div> -->
                                <div class="col-sm-9">
                                    <!--                                    <%--                                <textarea class="form-control" rows="5" cols="10" id="shortDescription"--%>-->
                                    <!--                                    <%--                                          name="shortDescription">${model.shortDescription}</textarea>--%>-->
                                    <input cols="60" rows="8" name="code" id="code" th:field="*{code}"  readonly/>
                                </div>
                            </div>


                            <!--                            <div class="form-group">-->
                            <!--                                <label for="content" class="col-sm-3 control-label no-padding-right">Nội dung</label>-->
                            <!--                                <div class="col-sm-9">-->
                            <!--                                    &lt;!&ndash;                                    <%--                                <textarea class="form-control" rows="5" cols="10" id="content"--%>&ndash;&gt;-->
                            <!--                                    &lt;!&ndash;                                    <%--                                          name="content">${model.content}</textarea>--%>&ndash;&gt;-->
                            <!--                                    <textarea class="form-control" rows="5" cols="10" th:field="*{content}" id="content" name="content"/>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <input type="hidden" th:field="*{id}" id="newId" />
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">

                                    <!--                                    <th:block th:if="${category.id}">-->
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Xóa
                                        <!--                                            <td><input type="submit" value="Update customer"></td>-->
                                    </button>
                                    <!--                                    </th:block>-->

                                    <!--                                    <th:block th:unless="${category.id}">-->
                                    <!--                                        <button class="btn btn-info" type="submit">-->
                                    <!--                                            <i class="ace-icon fa fa-check bigger-110"></i>-->
                                    <!--                                            Thêm mới-->
                                    <!--                                        </button>-->
                                    <!--                                    </th:block>-->

                                    <!--                                    <div th:unless="${model.id}">-->
                                    <!--                                        <input class="btn btn-sm btn-primary btn-edit" type="submit" value="Them moi" />-->
                                    <!--                                    </div>-->

                                    &nbsp; &nbsp; &nbsp;

                                    <a class= "btn" href="/quan-tri/the-loai/danh-sach">>
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            Hủy
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer -->
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2020-2021
						</span>

                &nbsp; &nbsp;
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
					 		</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>
    <!-- footer -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<script th:src="@{/admin/paging/jquery.twbsPagination.js}"></script>
<script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.sparkline.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.flot.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.flot.pie.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.flot.resize.min.js}"></script>
<script th:src="@{/admin/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/admin/assets/js/ace.min.js}"></script>
<script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript">

    // $(document).ready(function () {
    //     $("#formSubmit").submit(function (event) {
    //         event.preventDefault();
    //         var data = {};
    //         var categoryCode = $("#categoryCode").val();
    //         var title = $("#title").val();
    //         var thumbnail = $("#thumbnail").val();
    //         var shortDescription = $("#shortDescription").val();
    //         var content = $("#content").val();
    //         var id = $("#newId").val();
    //         var json = {"id": id, "categoryCode": categoryCode, "title": title, "thumnail": thumbnail, "shortDescription": shortDescription, "content": content};
    //
    //
    //         if (id == "") {
    //             addNew();
    //         } else {
    //             updateNew();
    //         }
    //
    //         function addNew() {
    //
    //             $.ajax({
    //                 url: "/api/new",
    //                 type: 'POST',
    //                 contentType: 'application/json',
    //                 data: JSON.stringify(json),
    //                 dataType: 'json',
    //                 success: function (result) {
    //                     window.location.href = "/quan-tri/bai-viet/xoa?id="+result.id+"&message=insert_success";
    //                     console.log("ok add");
    //                 },
    //                 error: function (error) {
    //                     window.location.href = "/quan-tri/bai-viet/danh-sach?page=1&limit=2&message=error_system";
    //                     console.log("no add");
    //                 }
    //             });
    //         }
    //
    //         function updateNew() {
    //
    //             $.ajax({
    //                 url: "/api/new",
    //                 type: "PUT",
    //                 contentType: "application/json",
    //                 data: JSON.stringify(json),
    //                 // beforeSend: function (xhr) {
    //                 //     xhr.setRequestHeader("Accept", "application/json");
    //                 //     xhr.setRequestHeader("Content-Type", "application/json");
    //                 // },
    //                 dataType: "json",
    //                 success: function (result) {
    //                     window.location.href = "/quan-tri/bai-viet/xoa?id="+result.id+"&message=update_success";
    //                     console.log("ok update");
    //                 },
    //                 error: function (error) {
    //                     window.location.href = "$/quan-tri/bai-viet/xoa?id="+result.id+"&message=error_system";
    //                     console.log("no update");
    //                 }
    //             });
    //         }
    //
    //     });
    // });
</script>
</body>
</html>